extends layout
block content     
    .container
        h4.display-4.text-center #{message} 
        ul.nav.justify-content-center
            li.nav-item
                a.nav-link.active(href='/') Home
            li.nav-item
                a.nav-link(href='/about') About Us
            li.nav-item
                a.nav-link(href='/accountRequest') New Account
            li.nav-item
                a.nav-link(href='/moneymanage') Money Management
        br
        .row
            .col.text-center
                input#search(type='search' placeholder='Search for User' onkeyup='searchUsers()')
        br
        //- Finish working on filter
        table(width='50%').table.table-striped.styleTable
            tr
                th First Name
                th Last Name
                th Username
                th Password
                th Checking Account
                th Savings Account
                th Email
                th Address
                th City
                th State
                th Zip
            each acct in newAcct
                tr(id='listOfUsers')
                    td.searches #{acct.firstName}
                    td.searches #{acct.lastName}
                    td #{acct.usName}
                    td #{acct.usPass}
                    td #{acct.checking}
                    td #{acct.savings}
                    td #{acct.email}
                    td #{acct.address}
                    td #{acct.city}
                    td #{acct.state}
                    td #{acct.zip}   
        .row
            .col.text-left
                a(href='/adminWelcome') Back                  