extends layout
block content
    h4.text-center #{message}
    table.table.table-striped
        tr
            th First Name
            th Last Name
            th Email
            th Session Date
            th Session  
        each ms in mm
            tr
                td #{ms.mmFName}
                td #{ms.mmLName}
                td #{ms.mmEmail}
                td #{ms.sessionDate}
                td #{ms.session}
    .row
        .col.text-right
            a(href='/adminWelcome') Back                