extends layout
block content
    .container
        h5.text-center#usName #{usName}'s #{message}
        table.table.table-striped
            tr
                th Date
                th Username
                th Transaction
            each tr in tran
                tr 
                    td #{tr.date}
                    td #{tr.usName}
                    td #{tr.transactionType}
        .row
            .col.text-left
                a(href='/viewMyAccount/'+usName) Back to my account
            .col.text-right
                a(href='/login') Logout
